.notepad {
  height: 100%;
  width: 50rem;
  border: .1rem solid grey;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid grey; 

    &:hover {
      cursor: grab; 
    }
  }
  &__notes {
    background-color: #eee;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
    resize: none;
    font-family: fantasy;
    letter-spacing: 1px;
    transition: all .5s;
  }
  &__description {
    color: black;
    padding: 1rem;
    background-color: #eee;
    font-size: 1.6rem;
    font-family: fantasy;
    letter-spacing: 1px;
    resize: none;
    transition: all .5s;
  }
  &__stats {
    color: black;
    padding: 1rem;
    font-size: 1.6rem;
    background-color: transparent;
    font-family: fantasy;
    letter-spacing: 1px;
    resize: none;
    transition: all .5s;
  }
  &__label {
    min-width: 30%;
    color: #eee;
  }
  &__row {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  &__stat {
    color: #eee;
    text-align: left;
    width: 60%; 
  }
  &__input {
    background-color: transparent;
    color: #eee;
    outline: none;
    border: none;
  }
}
