.notepad {
  height: 100%;
  max-width: 60rem;
  min-width: 60rem;
  border: .1rem solid grey;
  display: flex;
  flex-direction: column;

  @include respond(tab-land) {
    max-width: 45rem;
    min-width: 45rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid grey; 

    &:hover {
      cursor: grab; 
    }
  }
  &__notes {
    background-color: #eee;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
    resize: none;
    font-family: fantasy;
    letter-spacing: 1px;
    transition: all .5s;
    overflow-y: auto;
  }
  &__description {
    color: black;
    padding: 1rem;
    background-color: #eee;
    font-size: 1.6rem;
    font-family: fantasy;
    letter-spacing: 1px;
    resize: none;
    transition: all .5s;
    overflow-y: auto;
  }
  &__stats {
    color: black;
    padding: 1rem;
    font-size: 1.6rem;
    background-color: transparent;
    font-family: fantasy;
    letter-spacing: 1px;
    resize: none;
    transition: all .5s;
  }
  &__row {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__section-text {
    width: 100%;
    color: #eee;
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
    padding: .4rem 0;
    text-align: center;
  }
  &__label {
    min-width: 15rem;
    max-width: 15rem;
    color: #eee;

    &--title {
      padding: .2rem 0;
      align-self: flex-start;;
      vertical-align: top;
    }
  }

  &__icon {
    top: .1rem;
    fill: #eee;
    height: 1.2rem;
    margin-left: .5rem;
  }

  &__stat {
    color: #eee;
    text-align: left;
    min-width: calc(60rem - 15rem);
    max-width: calc(60rem - 15rem);
    flex-grow: 1;
    word-wrap: break-word;
    cursor: default;
    padding: .2rem .5rem;

  }
  &__input {
    background-color: transparent;
    font-family: fantasy;
    color: #eee;
    outline: none;
    border: 1px solid transparent;
    cursor: text;
    &:focus {
      border: 1px solid #eee;
      border-radius: 2px;
    }
  }
  &__textarea {
    background-color: transparent;
    color: #eee;
    font-family: fantasy;
    font-size: 1.6rem;
    letter-spacing: .2px;
    outline: none;
    border: 1px solid transparent;
    resize: none;
    cursor: text;

    &:focus {
      border: 1px solid #eee;
      border-radius: 2px;
    }

    &::-webkit-scrollbar {
      width: .5rem;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.5);
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: rgba(128, 128, 128, 0.5);
      &:hover {
        background: green;
      }
    }
  }
}

.sad-panda {
  text-align: center;

  h2 {
    margin: 2rem;
  }

  img {
    width: 100%;
  }
}
