.dropzone {
  border: 2px dashed steelblue;
  height: 100%;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  &__container {
    position: absolute;
    bottom: 8.5rem;
    right: 1rem;
    height: 40rem;
    width: 58rem;
    padding: 2rem;
    border-radius: 2px;
    box-shadow: 0 2rem 3rem black;
    background-color: #333;
    transform: translateY(50rem);
  }

  &__drop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

  }
}

.open-dropzone {
  animation: slide-from-bottom .5s forwards;
}
.close-dropzone {
  animation: slide-from-bottom 2s reverse forwards;
}

@keyframes slide-from-bottom {
  from { transform: translateY(50rem) }
  to { transform: translateY(0) }
}

