/// color palette
$color-red: #b33000;
$color-blue: #5fb3ce;
$color-green: green;
$color-yellow: #ee0;

/// greyscale
$color-white: #eee;
$color-grey: rgba(0, 0, 0, 0.2);
$color-middle-grey: #909c9d;
$color-high-dark: #6b7778;
$color-grey-label: #6a7677;
$color-dark: #333;
$color-low-dark: #202425;

