.upload {
  border: 1px solid steelblue;
  border-radius: 2px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding: 1rem 2rem;
  color: steelblue;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  p {
    margin-left: 1rem;
  }

  &__input {
    display: none;
    visibility: hidden;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: steelblue;
  }

}
