.task-type {
  &--task {
    color: $color-yellow !important;
  }
  &--bug {
    color: $color-red !important;
  }
  &--completed {
    color: $color-green !important;
  }
}


.tasks {
  width: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 1.2rem;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.5);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(128, 128, 128, 0.5);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 100;
    cursor: default;
  }
  &__title {
    display: inline-block;
    margin: .2rem;
    font-size: 2rem;
    font-weight: 100;
    text-transform: capitalize;
    border-bottom: .1rem solid grey;
    width: 100%;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    width: 100%;
    height: 8rem;
  }
  &__row:hover {
    border-top: 1px solid steelblue;
    border-bottom: 1px solid steelblue;
  }
  &__col {
    padding: 1rem;
    width: 20rem;
  }
  &__description {
    width: 100%;
  }
  &__feature {
    width: 30%;
  }
  &__input {
    background-color: #333;
    outline: none;
    border: none;
    color: #eee;
    width: 100%;
    margin: 0 1rem;
  }
  &__input--title {
    color: $color-blue;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: .5rem;
  }
  &__actions {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 15rem;
  }
  &__actions--title {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 20rem;
  }
  &__options {
    display: flex;
  }
  &__time {
    text-align: center;
    font-weight: 100;
    font-size: 1.8rem;
    cursor: default;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &--active {
      font-weight: 400;
    }
  }
  &__icon {
    position: relative;
    margin: 0 2rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 2rem;
    width: 2rem;
  }
  &__icon--add {
    width: 3rem;
    text-align: center;
    margin-right: 2rem;
  }
  &__icon--svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: steelblue;
    height: 3.2rem;
    fill: grey;
  }
  &__icon--svg:hover {
    fill: green;
    cursor: pointer;
  }
  &__icon--btn {
    position: relative;
  }
  .play:hover {
    fill: green;
  }
  .pause {
    fill: orange;
    &:hover {
      fill: #b33000;
    }
  }
  .add {
    margin: 1.6rem 1rem;
  }
  .trash:hover {
    fill: #b33000;
  }
  &__btn {
    background-color: steelblue;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #eee;
    width: 10rem;
    height: 3.5rem;
  }
  &__btn--stop {
    background-color: #992900;
  }
  &__btn:hover {
    cursor: pointer;
  }
}
.play-animation {
  animation: playing 1.3s infinite;
}

@keyframes playing {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
